@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

:root {
  --text-primary: #fff;
  --text-secondary: #141e30;
  --background-secondary: gray;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

.container {
  width: 100vw;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
